{% extends 'base.html' %}
{% block content %}

        <h1>Recently Uploaded</h1>
        <hr>
        <div class="row">
            {% for m in movies %}
                <div class="col-md-3">
                    <div class="card" style="width: 18rem;">
                        <img src="{{m.2}}" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">{{m.1}}</h5>
                          <p>Genre : {{m.4}}</p>
                          <p>IMDB Rating : {{m.5}}</p>
                          <a href="{% url 'details' m.0 %}" class="btn btn-primary">See Details</a>
                        </div>
                      </div>
                </div>
            {% endfor %}
        </div>

{% endblock %}